body {
    height: 1000px;
    background:linear-gradient(to top right, #ffffff 1%, #33cc33 100%);
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: 470px;
    margin-top:50px;
    margin-bottom: auto;
    width: 35%;
}


p,
h2,
li {
    font-family: Arial, Helvetica, sans-serif;
}
#reservationQuery{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
h1 {
    text-align: center;
}

p {
    text-align: center;
}

button6 {
    width: 200px;
    font-size: 16px;
    background-color: lightblue;
    border: 1px solid black;
    display: block;
    margin-top: -20px;
    margin-bottom: auto;
    margin-right: 500px;
    margin-left: auto;
    

}

button5 {
    width: 200px;
    font-size: 16px;
    background-color: lightblue;
    border: 1px solid black;
    display: block;
    margin-top: -300px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 500px;
    

}

button4 {
    width: 200px;
    font-size: 16px;
    background-color: lightblue;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

button3 {
    width: 200px;
    font-size: 16px;
    background-color: lightblue;
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
   
}
button2 {
    width: 60px;
    font-size: 16px;
    background-color: lightblue;
    border: 1px solid black;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

#results {
    width: 100%;
    overflow: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#results::first-line {
    color: red
}



